/* * {
    scroll-behavior: smooth;
} */
.no-gutters {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
    
  }

img {
    width: 90vh;
    height: 100vh;
    padding: 0px;
    box-sizing: inherit;
    transform: scale(1.2);
}