*,
::before,
::after {
  content: none;
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 0px;
}

.row {
    width: 100vh;
    height: 100vh;
    display:contents;
    overflow: hidden;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
    
  }

img {
    width: 100%;
    height: 100%;
    padding: 0px;
    box-sizing: inherit;
    transform: scale(1);
}